[Unit]
Description=Boot history logger
After=multi-user.target
DefaultDependencies=no
RequiresMountsFor=/var/log.hdd/persistent

[Service]
Type=oneshot
ExecStart=/usr/local/bin/boot-logger.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
