[Unit]
Description=Argo Power-On GPIO Init (!POW low)
DefaultDependencies=no
After=local-fs.target sysinit.target
Before=basic.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/orangepi/argo/power_control/argo_poweron.startup
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target


