[Unit]
Description=Argo WiFi Reconnection Timer
Documentation=file:///home/orangepi/argo/network/README.md
Requires=argo_wifi_reconnect.service

[Timer]
# Run every 1 minute for faster network switching
OnCalendar=*:0/1
Persistent=true
AccuracySec=30s

[Install]
WantedBy=timers.target
