[Unit]
Description=Load Argo Radio Servo Kernel Module
After=network.target
Before=argo_launch_standard.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'if ! lsmod | grep -q argo_radio_servo_module; then insmod /lib/modules/$(uname -r)/kernel/drivers/misc/argo/argo_radio_servo_module.ko; fi'
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
