[Unit]
Description=Argo Robot ROS2 Launch Service
After=network.target argo_power_control.service
Wants=argo_power_control.service

[Service]
Type=simple
User=orangepi
Group=orangepi
Environment=ROS_DOMAIN_ID=0
ExecStart=/bin/bash -c 'set -m && source /opt/ros/humble/setup.bash && python3 launch/argo_lifecycle_manager.py run'
Restart=no
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
