[Unit]
Description=Argo Robot ROS2 Bag Recording Service
After=network.target
Wants=argo-launch.service

[Service]
User=%i
Group=%i
WorkingDirectory=%h/bagfiles
EnvironmentFile=%h/argo/launch/argo.env
ExecStart=%h/argo/scripts/argo_record.sh
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
# WantedBy=multi-user.target
# Uncomment above line to enable automatic startup